* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}

.container {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  grid-template-rows: minmax(3.5em, auto) 3em 1fr 3em auto minmax(3em, auto);
  grid-gap: 0.5em;
}

header {
  grid-column: span 8;
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  align-content: center;
  background-color: #232323;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-links {
  grid-column: 6 / 8;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.nav-links a:hover {
  color: #e9c46a;
  text-decoration: none;
}

main {
  grid-column: 2 / 6;
  grid-row: 3 / 4;
  padding-left: 20px;
  padding-right: 45px;
}

.main-full {
  grid-column: 2 / 8;
  grid-row: 3 / 4;
  padding-left: 20px;
  padding-right: 45px;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  padding-bottom: 25px;
}

h2 {
  padding-bottom: 5px;
}

p {
  font-size: 1.1em;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #e76f51;
}

a:hover {
  text-decoration: underline;
  color: #e76f51;
}

.sidebar {
  grid-column: 6 / 8;
  grid-row: 3;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 25px;
}

img {
  max-width: 100%;
  border-radius: 15px;
}

.wrapper {
  grid-column: span 8;
  grid-row: 5 / 6;
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  align-content: center;
  background-color: #e9c46a;
}

.topic {
  grid-column: 2 / 5;
  text-align: justify;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.topic:last-of-type {
  grid-column: 5 / 8;
  padding-left: 50px;
  padding-right: 0px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #e9c46a;
  text-align: left;
  font-weight: bold;
}

.content-table thead tr th,
.content-table tbody tr td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* .content-table tbody tr:hover {
  color: #e9c46a;
}
 */
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #e9c46a;
}

#text-align-right {
  text-align: right;
}

#yellow-bold {
  font-weight: bold;
  color: #e9c46a;
}

#passed {
  font-weight: bold;
  color: #679436;
}
